<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta id="root" about="@{/users.html}">
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link th:href="@{/resources/templates/bootstrap-4.3.1-dist/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/resources/templates/bootstrap-4.3.1-dist/js/jq.js}" rel="stylesheet">
    <title>Users</title>
</head>
<body>
<div class="container" th:with="ps = ${pageSize} ? ${pageSize} : 3, pn = ${pageNumber} ? ${pageNumber} : 0">
    <div class="nav-item" style="float: right; margin-left: 5px">
        <a th:href="@{/logout}" class="nav-link">Logout</a>
    </div>
   <h1 style="text-align: center; margin-top: 50px; margin-bottom: 30px">Users: </h1>
    <select style="float: right; margin-left: 5px" id="limit" class="form-control-sm"
            th:name="pageSize"
            th:onchange="'window.location.href = \'' + @{/admin/users} + '?pageNumber=0&pageSize=\' + this.value ' ">
        <option th:if="${totalCount != 1}" th:value="1"  th:selected="1==${ps}">1</option>
        <option th:if="${totalCount != 3 && totalCount > 3}" th:value="3"  th:selected="3==${ps}">3</option>
        <option th:if="${totalCount != 5}" th:value="5"  th:selected="5==${ps}">5</option>
        <option th:if="${totalCount != 10 && totalCount > 10}" th:value="10"  th:selected="10==${ps}">10</option>
        <option th:if="${totalCount != 20 && totalCount > 20}" th:value="20"  th:selected="20==${ps}">20</option>
        <option th:value="${totalCount}"  th:selected="${totalCount==ps}">ALL</option>
    </select>
    <label style="float: right; margin-right: 10px" for="limit">Users in a page: </label>
    <br>
    <table style="margin-top: 10px" class="table">
        <thead class="thead-dark">
        <tr th:id="user_fields">
            <th th:id="id" scope="col">ID</th>
            <th th:id="firstName" scope="col">First name</th>
            <th th:id="lastName" scope="col">Last name</th>
            <th th:id="email" scope="col">Email</th>
            <th th:id="age" scope="col">Age</th>
            <th th:id="roleNames" scope="col">Role</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="mainTable">
        <tr th:id="${user.getId()}" th:each="user : ${users}">
            <td th:id="'id_' + ${user.getId()}" th:text="${user.getId()}"></td>
            <td th:id="'name_' + ${user.getId()}" th:text="${user.getFirstName()}"></td>
            <td th:id="'last_name_' + ${user.getId()}" th:text="${user.getLastName()}"></td>
            <td th:id="'email_' + ${user.getId()}" th:text="${user.getEmail()}"></td>
            <td th:id="'age_' + ${user.getId()}" th:text="${user.getAge()}"></td>
            <td th:id="'roles_' + ${user.getId()}" th:text="${user.getRoles()}"></td>
            <td><button th:id="'edit_' + ${user.getId()}" type="button" class="btn btn-warning btn-sm"
                        th:attr="onclick=|updateUserInfo(${user.getId()}, ${ps}, ${pn})|" >Edit</button></td>
            <td><button th:id="'delete_' + ${user.getId()}" type="button" class="btn btn-danger btn-sm"
                        th:attr="onclick=|deleteUser(${user.getId()}, ${ps}, ${pn})|">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <h5 id="count" style="float: right; margin-right: 20px" th:text="'Users found: ' + ${totalCount}"></h5>
    <div>
        <ul th:if="${totalCount > ps}" id="pagging-bar"
            class="pagination pagination-sm justify-content-center">
            <li th:each="i : ${#numbers.sequence(0, (totalCount % ps == 0 ? totalCount / ps - 1 : totalCount / ps))}"
                th:class="${i == pn} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:onclick="'window.location.href = \'' + @{http://localhost:8080/admin/users?(pageNumber=${i},pageSize=${ps})} + '\''"
                   th:text="${i + 1}"></a>
            </li>
        </ul>
    </div>
    <button style="margin-bottom: 15px" type="button" class="btn btn-info" th:attr="onclick=|startCreate()|">Create new user</button>
    <form style="background-color: #E9ECEF; padding: 20px; border-radius: 10px; display: none" id="createButton">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNameNew">Name</label>
                <input type="text" class="form-control" id="inputNameNew" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastNameNew">Last Name</label>
                <input type="text" class="form-control" id="inputLastNameNew" placeholder="Last Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmailNew">Email</label>
                <input type="text" class="form-control" id="inputEmailNew" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAgeNew">Age</label>
                <input type="number" class="form-control" id="inputAgeNew" min="1" max="120">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPasswordNew">Password</label>
                <input type="password" class="form-control" id="inputPasswordNew">
            </div>
            <div class="form-group col-md-3" style="padding: 0px 10px">
                <label for="inputRoleNew">Role</label>
                <select class="select form-control" multiple data-mdb-clear-button="true" id="inputRoleNew">
                    <option value="ROLE_ADMIN">ADMIN</option>
                    <option value="ROLE_USER">USER</option>
                </select>
            </div>
            <button type="button" th:attr="onclick=|createUser(${ps}, ${pn})|" class="btn btn-success">
                Create
            </button>
        </div>
    </form>
</div>

<script>
    function deleteUser(id, pageSize ,pageNumber) {
        savePagination(pageSize, pageNumber);

        $.ajax({
            url: `http://localhost:8080/admin/users/${id}`,
            type: 'DELETE',
            success: function reload(){location.reload();}
        });
    }

    function createUser(pageSize, pageNumber) {
        savePagination(pageSize, pageNumber);

        let body = {};
        body.firstName = document.getElementById("inputNameNew").value;
        body.lastName = document.getElementById("inputLastNameNew").value;
        body.email = document.getElementById("inputEmailNew").value;
        body.age = document.getElementById("inputAgeNew").value;
        body.password = document.getElementById("inputPasswordNew").value;

        let options = document.getElementById("inputRoleNew").options;
        let roles = [];

        for (let i = 0; i < options.length; i++) {
            if (options[i].selected) {
                roles.push(options[i].value);
            }
        }

        body.roleNames = roles.join(",");

        $.ajax({
            url: `http://localhost:8080/admin/users`,
            type: 'POST',
            data: JSON.stringify(body),
            contentType: 'application/json',
            success: function reload(){location.reload();}
        });
    }

    function startCreate() {
        let elem = document.getElementById("createButton");
        if (elem.style.display === "none") {
            elem.style.display = "block";
        } else {
            elem.style.display = "none"
        }
    }

    async function updateUserInfo(id, pageSize, pageNumber) {
        savePagination(pageSize, pageNumber);

        for (let i = 0; i < document.getElementsByTagName("btn btn-warning btn-sm").length; i++) {
            if (document.getElementsByClassName("btn btn-warning btn-sm").item(i).id === "edit_" + id) continue
            document.getElementById("edit_button" + id).disabled = true
        }

        for (let i = 0; i < document.getElementsByClassName("btn btn-danger btn-sm").length; i++) {
            if (document.getElementsByClassName("btn btn-danger btn-sm").item(i).id === "delete_" + id) continue
            document.getElementsByClassName("btn btn-danger btn-sm").item(i).disabled = true
        }

        document.getElementById("edit_" + id).className = "btn btn-success btn-sm"
        document.getElementById("edit_" + id).innerText = "Save"
        document.getElementById("edit_" + id).onclick = function() {
            saveUpdatedUser(id);
        };

        document.getElementById("delete_" + id).className = "btn btn-danger btn-sm"
        document.getElementById("delete_" + id).innerText = "Cancel"
        document.getElementById("delete_" + id).onclick = function() {
            location.reload();
        };

        let name = document.getElementById("name_" + id);
        name.contentEditable = true;
        name.innerHTML = `<input id="input_name_${id}" value=${name.textContent} placeholder=${name.textContent} type=\"text\" minLength=\"1\" maxlength=\"12\">`;

        let last_name = document.getElementById("last_name_" + id);
        last_name.contentEditable = true;
        last_name.innerHTML = `<input id="input_last_name_${id}" value=${last_name.textContent} placeholder=${last_name.textContent} type=\"text\" minLength=\"1\" maxlength=\"30\">`;

        let email = document.getElementById("email_" + id);
        email.contentEditable = true;
        email.innerHTML = `<input id="input_email_${id}" value=${email.textContent} placeholder=${email.textContent} type=\"text\" minLength=\"1\" maxlength=\"30\">`;

        let age = document.getElementById("age_" + id);
        age.contentEditable = true;
        age.innerHTML = `<input id="input_age_${id}" value=${age.textContent} placeholder=${age.textContent} type=\"number\" minLength=\"1\" maxlength=\"120\">`;

        let role = document.getElementById("roles_" + id);
        let role_old = role.textContent.split(" ");
        role.contentEditable = true;
        role.innerHTML = `<select id="select_role_${id}" class="form-select" multiple>
                <option id="ADMIN" value="ROLE_ADMIN">ADMIN</option>
                <option id="USER" value="ROLE_USER">USER</option>
                     </select>`

        for (let i = 0; i < role_old.length; i++) {
            document.getElementById(role_old[i]).selected = true;
        }
    }

    async function saveUpdatedUser(id) {
        document.getElementById("name_" + id).contentEditable = false;
        document.getElementById("last_name_" + id).contentEditable = false;
        document.getElementById("email_" + id).contentEditable = false;
        document.getElementById("age_" + id).contentEditable = false;
        document.getElementById("roles_" + id).contentEditable = false;

        let body = {};
        body.firstName = document.getElementById("input_name_" + id).value;
        body.lastName = document.getElementById("input_last_name_" + id).value;
        body.email = document.getElementById("input_email_" + id).value;
        body.age = document.getElementById("input_age_" + id).value;

        let options = document.getElementById("select_role_" + id).options;
        let roles = [];

        for (let i = 0; i < options.length; i++) {
            if (options[i].selected) {
                roles.push(options[i].value);
            }
        }

        body.roleNames = roles.join(",");

        $.ajax({
            url: `http://localhost:8080/admin/users/${id}`,
            type: 'PATCH',
            data: JSON.stringify(body),
            contentType: 'application/json',
            success: function reload(){location.reload();}
        });
    }

    function rowToJSON(id) {
        let row = document.getElementById("user_fields");
        let obj = {};

        for (let i = 1; i < row.cells.length - 2; i++) {
            if (i === 4) continue;
            obj[row.cells[i].id] = document.getElementById(id).cells[i].textContent;
        }
        return JSON.stringify(obj);
    }

    function savePagination(pageSize, pageNumber) {
        localStorage.setItem("pageSize", pageSize);
        localStorage.setItem("pageNumber", pageNumber);
    }
</script>
</body>
</html>